.a {
  border: 2px solid red;
  position: relative;
  top: 50px;
  left: 70px;
}

.b {
  border: 2px solid blue;
}

.parent {
  position: relative;
  width: 300px;
  height: 200px;
  border: 2px solid black;
}

.child {
  position: absolute;
  border: 2px solid rgb(255, 0, 0);
  top: 10px;
  right: 100px;
}