form{
    width:300px;
    text-align: center;
    margin: 50px auto;
    background-color: beige;
    background-color: brown;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 2px 2px 12px rgb(0,0,0);
}
label{
    display: block;
    margin-bottom:5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input{
width: 60%;
padding: 8px;
 margin-bottom: 20px;
 border-radius: 5px;
border: 1px solid black;
}
input:focus{
border-color:blueviolet;
outline: none;
}
button{
background-color: blue;
padding: 10px 20px;
border-radius: 10px;
color: blanchedalmond;
width:100px;
border:none;
}
button:hover{
background-color: darkblue;  
cursor: pointer;
}
body{
cursor:pointer;
}