/*height:200px;
background-color:rgb(255,0,0);
position:absolute;
z-шаша: 7;
} */
 
.main {
  width: 100%;
  height: 300px;
  border: 2px solid black;
}


.main img {
  width: 300px;
  height: 200px;
  float: right;
}


.main p {
  color: yellow;
}

a:visited {
  color: steelblue;
}

a:link {
  color: saddlebrown;
}

a:hover {
  color: seagreen;
}

.text::before {
  content: "✓ ";
}






 