.parent{
    width: 500px;
    height:500px ;
    background-color: blueviolet;
    position: relative;
}
.child{
width:100px;
    height:100px;
    background-color:blue;
    position: absolute;
    top:400px;
    left:100px;
    bottom:400px;
} 


